<div class="projects">
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="project">
        <div class="name">
            <p>Project</p>
        </div>
        <div class="tags">
            <div class="tag">
                <p>name</p>
            </div>
        </div>
        <div class="description">
            <p>fue un físico, teólogo, inventor, alquimista y matemático inglés. Es autor de los Philosophiæ naturalis principia mathematica, más conocidos como los Principia, donde describe la ley de la gravitación universal y estableció las bases de la mecánica clásica mediante las leyes que llevan su nombre. Entre sus otros descubrimientos científicos destacan los trabajos sobre la naturaleza de la luz y la óptica (que se presentan principalmente en su obra Opticks), y en matemáticas, el desarrollo del cálculo infinitesimal.</p>
        </div>
    </div>
    <div class="add-project">
        <img src="assets/img/add.png">
        <div>
            <p>Create new project</p>
        </div>
    </div>
</div>